.valores__container{
    display: flex;
    /* flex-direction: column; */
}


.cliente__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.modal__action{
    display: flex;
    gap: 16px;
}