.valores__container{
    display: flex;
    /* flex-direction: column; */
}

.aluguel__form_blur{
    /* position: relative; */
    filter: blur(5px);
}

.receber-modal__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc6;
    width: 100dvw;
    position: absolute;
    height: 100dvh;
    top: 0;
    left: 0;
}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffa9;
    padding: 48px;
    border-radius: 8px;
    position: relative;
}

.btn-close{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px;
}

.modal__action{
    display: flex;
    gap: 16px;
}