@if(isLoggedIn){
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm py-1">
  <div class="container">
    <a class="navbar-brand brand-link" routerLink="/dashboard">
      <i class="fa-brands fa-pied-piper-hat"></i>
      <span class=" mx-1">Vista & Alugue</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard"
          >
            <i class="fas fa-tachometer-alt me-1"></i>
            <span class="link-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/roupas">
            <i class="fas fa-tshirt me-1"></i>
            <span class="link-title">Roupas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/alugueis">
            <i class="fas fa-shopping-bag me-1"></i>
            <span class="link-title">Alugueis</span>
          </a>
        </li>

        <!-- Apenas para admin -->
        @if(user?.tipo === 'admin'){

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/clientes">
            <i class="fas fa-users me-1"></i>
            <span class="link-title">Clientes</span>
          </a>
        </li>

        <!-- <li class="nav-item" >
             <a class="nav-link" [class.active]="isActiveRoute('/clientes')" routerLink="/clientes">
               <i class="fas fa-users me-1"></i>
               Clientes
              </a>
            </li> -->
        }
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLink="/bot-mensagens"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-robot me-1"></i>
            <span class="link-title">Bot</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fas fa-user me-1"></i>
            <span class="link-title">{{ user?.nome }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item-text">
              @if(user?.tipo === 'admin'){
              <span class="badge bg-success ms-1">Admin</span>
              } @if(user?.tipo === "funcionario"){}
              <span class="badge bg-secondary ms-1">Funcionário</span>
            </li>
            <li>
              <span class="dropdown-item-text">
                <small>
                  <i class="fas fa-calendar me-1"></i>
                  Expira em: {{ user?.data_expiracao | date : "dd/MM/yyyy" }}
                </small>
              </span>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item text-danger"
                href="#"
                (click)="logout(); $event.preventDefault()"
              >
                <i class="fas fa-sign-out-alt me-1"></i>
                Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
}
